

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}


/*  */
.login-container{
    margin-top: 15%;
    margin-right: 10%;
    text-align: center;

}
.login-form-input{
    margin-bottom: 20px;
}


.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    outline: none;
}

.btnSubmit:hover{
    background-color: rgba(0, 0, 0, 0.479);
    color: #fff;
}


