.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .ps-btn-logOut{
    border: none;
    background: transparent;    
    align-self: flex-end;    
    outline: none;
  }
  .ps-btn-logOut:hover{
    background-color: rgba(0, 0, 0, 0.479);
    color: #fff;
    border-radius: 5px;
  }

  .ps-div-btn-logOut{
    position: fixed;
    right: 0px;
  }